<!-- templates/add_file.html -->

{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h3 class="title is-3 has-text-black">New file</h3>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="add_file">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Owner (Id)</label>
                            <div class="control">
                                <input class="input" type="text" name="owner_id" placeholder="Owner ID" value="{{ user_id }}" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Owner (Name)</label>
                            <div class="control">
                                <input class="input" type="text" name="owner" placeholder="Owner name" value="{{ user_name }}" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Display name</label>
                            <div class="control">
                                <input class="input" type="text" name="display" placeholder="Display name" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Path</label>
                            <div class="control">
                                <input class="input" type="text" name="path" placeholder="File path" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <button class="button is-block is-primary is-large is-fullwidth">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
