<!-- templates/add_user.html -->

{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h3 class="title is-3 has-text-black">New user</h3>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="add_user">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name" placeholder="First name" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Surname</label>
                            <div class="control">
                                <input class="input" type="text" name="surname" placeholder="Last name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Institution</label>
                            <div class="control">
                                <input class="input" type="text" name="institution" placeholder="Last name" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input is-danger" type="text" name="password" placeholder="Pasword" value={{ password }} />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="text" name="email_m1" placeholder="Last name" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Email (again)</label>
                            <div class="control">
                                <input class="input" type="text" name="email_m2" placeholder="Last name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Type</label>
                            <div class="select is-warning is-fullwidth">
                                <select name="type">
                                    <option>User</option>
                                    <option>Administrator</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Notify user</label>
                            <label class="radio">
                                <input type="radio" name="foobar" checked disabled>
                                    Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="foobar" disabled>
                                    No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <button class="button is-block is-primary is-large is-fullwidth">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
