<!-- templates/add_file.html -->

{% extends "base.html" %}

{% block content %}

<link href="static//css/bulma-calendar.min.css" rel="stylesheet">
<script src="static/js/bulma-calendar.min.js"></script>



<div class="container">
    <div class="column is-8 is-offset-2">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h3 class="title is-3 has-text-black">New access</h3>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="add_access">
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">File</label>
                            <div class="select is-fullwidth">
                                <select name="file_id">
                                    {% for file in files %}
                                        <option value= "{{ file.id }}">{{ file.display_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">User </label>
                            <div class="select is-fullwidth">
                                <select name="user_id">
                                    {% for user in users %}
                                        <option value= "{{ user.id }}">{{ user.name }} {{ user.surname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Available from</label>
                            <div class="control">
                                <input class="input" type="date" name="date_from" placeholder="Since" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Available until</label>
                            <div class="control">
                                <input class="input" type="date" name="date_until" placeholder="Until" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Allowed downloads</label>
                            <div class="control">
                                <input class="input" type="text" name="allowed_downloads" placeholder="Allowed downloads" value="5" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <button class="button is-block is-primary is-large is-fullwidth">Grant access</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
