<!-- templates/admin.html -->

{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="column is-10 is-offset-1">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="static/img/undraw_team_ih79.svg" alt="User manager section" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Add new users and manage existing ones.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for('main.add_user') }}" class="card-footer-item">Add </a>
                        <a href="{{ url_for('main.manage_user') }}" class="card-footer-item">Manage</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="static/img/undraw_file_manager_j85s.svg" alt="File manager section" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Add new files and manage existing ones.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for('main.add_file') }}" class="card-footer-item">Add file</a>
                        <a href="{{ url_for('main.manage_file') }}" class="card-footer-item">Manage access</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="static/img/undraw_transfer_files_6tns.svg" alt="File manager section" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Create and revoke access to existing files.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for('main.add_access') }}" class="card-footer-item">Add</a>
                        <a href="{{ url_for('main.manage_access') }}" class="card-footer-item">Manage access</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
