<!-- templates/files.html -->

{% extends "base.html" %}

{% block content %}

<script>
    function setClipboard(value) {
        var tempInput = document.createElement("input");
        tempInput.style = "position: absolute; left: -1000px; top: -1000px";
        tempInput.value = value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
    }
</script>

<div class="container">
    <div class="column is-10 is-offset-1">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h3 class="title is-3 has-text-black">List of files</h3>
                </div>
            </div>
            <div columns>
                <div class="column is-text-centered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Available Until</th>
                                <th>Downloads</th>
                                <th><abbr title="Copy url to file">Link</abbr></th>
                                <th><abbr title="Copy wget command to download the file">WGET</abbr></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Available Until</th>
                                <th>Downloads</th>
                                <th><abbr title="Copy url to file">Link</abbr></th>
                                <th><abbr title="Copy wget command to download the file">WGET</abbr></th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.File.display_name }}</td>
                                <td>{{ item.Access.valid_until }}</td>
                                <td style="text-align:right;">{{ item.Access.used_down }}/{{ item.Access.available_down }}</td>
                                <td>
                                    <button class='button is-small is-link'  onclick="setClipboard('{{ 'https://tom.tch.harvard.edu' + url_for('api.file') + '/' + item.Access.internal_link }}')">Copy</button>
                                </td>
                                <td>
                                    <button class='button is-small is-link'  onclick="setClipboard('{{ 'wget -O ' + bname(item.File.file_path) + ' https://tom.tch.harvard.edu' + url_for('api.file') + '/' + item.Access.internal_link }}')">Copy</button>
                                </td>
                                <td>
                                    <a class='button is-small is-link'  href='{{ url_for('api.file') + '/' + item.Access.internal_link }}')">Download</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
