<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<div class="columns">
    <div class="column is-4 is-offset-1">
        <img src="static/img/undraw_folder_39kl.svg" />
    </div>
    <div class="column is-4 is-offset-1">
        <h1 class="title">
            folder
        </h1>
        <h2 class="subtitle">
            Kong's lab internal platform for file sharing
        </h2>
	<p>
	Any one from academic or non-profit organizations are welcomed to create an account. Please contact <a href="mailto:gnome.pipeline@gmail.com"><span class="tag is-warning">folder staff</span><a/>.
	</p>
    </div>
</div>
{% endblock %}
