<!-- templates/manage_user.html -->

{% extends "base.html" %}

{% block content %}

<script>
    function setClipboard(value) {
        var tempInput = document.createElement("input");
        tempInput.style = "position: absolute; left: -1000px; top: -1000px";
        tempInput.value = value;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
    }
</script>

<div class="container">
    <div class="column is-10 is-offset-1">
        <div class="box is-centered">
            <div class="columns">
                <div class="column">
                    <h3 class="title is-3 has-text-black">List of users</h3>
                </div>
            </div>
            <div columns>
                <div class="column is-centered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Institution</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th><abbr title="Get password">P</abbr></th>
                                <th><abbr title="Togle status">S</abbr></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Institution</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th><abbr title="Get password">P</abbr></th>
                                <th><abbr title="Togle status">S</abbr></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.surname }}</td>
                                <td>{{ item.institution }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.type }}</td>
                                {% if item.enable %}
                                    <td><span class="tag is-success">Enabled</span></td>
                                {% else %}
                                    <td><span class="tag is-danger">Disabled</span></td>
                                {% endif %}
                                <td>
                                    <button class='button is-small is-link' onclick="setClipboard('{{ item.password }}')">Copy</button>
                                </td>
                                <td>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
