<!-- templates/manage_user.html -->

{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="column is-10 is-offset-1">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h3 class="title is-3 has-text-black">List of users</h3>
                </div>
            </div>
            <div columns>
                <div class="column is-centered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Path</th>
                                <th>Owner</th>
                                <th>Status</th>
                                <th><abbr title="Togle status">S</abbr></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Path</th>
                                <th>Owner</th>
                                <th>Status</th>
                                <th><abbr title="Togle status">S</abbr></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.display_name }}</td>
                                <td>{{ item.file_path }}</td>
                                <td>{{ item.idSender }}</td>
                                {% if item.shareable %}
                                <td><span class="tag is-success">Enabled</span></td>
                                {% else %}
                                <td><span class="tag is-danger">Disabled</span></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
