<!-- templates/manage_access.html -->

{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="column is-10 is-offset-1">
        <div class="box is-centered">
            <div class="columns">
                <div class="column">
                    <h3 class="title is-3 has-text-black">List of accesses</h3>
                </div>
            </div>
            <div columns>
                <div class="column is-centered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ID File</th>
                                <th>ID User</th>
                                <th>Available Until</th>
                                <th>Allowed downloads</th>
                                <th>Used downloads</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>ID File</th>
                                <th>ID User</th>
                                <th>Available Until</th>
                                <th>Allowed downloads</th>
                                <th>Used downloads</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.Access.id }}</td>
                                <td>{{ item.File.display_name }}</td>
                                <td>{{ item.User.name }} {{ item.User.surname }}</td>
                                <td>{{ item.Access.valid_until }}</td>
                                <td>{{ item.Access.available_down }}</td>
                                <td>{{ item.Access.used_down }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
